@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --primary-color: #14213d;
    --secondary-color: #fca311;
    --info-color: #e5e5e5;
    --danger-color: #dc2626;
  }

  body {
    @apply p-0 m-0 box-border bg-slate-50 text-black;
  }
}
